[submodule "wp"]
	path = wp
	url = git@github.com:pantheon-systems/WordPress.git
[submodule "wp-content/plugins/pantheon-hud"]
	path = wp-content/plugins/pantheon-hud
	url = git@github.com:pantheon-systems/pantheon-hud.git
